body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}
/* Navigation Bar Styles */
#navpages{
    background-color: #ffffff;
    color: rgb(19, 13, 13);
    text-align: center;
    padding: 10px 0;
    width: 100%;

}

/* Flexbox for inline nav links */
.nav-pages {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-pages li {
    list-style-type: none;
    margin: 0 15px;
}

.nav-pages li a {
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: bold;
}

.nav-pages li a:hover {
    text-decoration: underline;
}

/* Main Content Area */
main {
    padding: 20px;
    min-height: 60vh;
    text-align: center; /* To center text inside main */
}
.dropdown-content {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #070404;
    padding: 0;
}

.dropdown-content li {
    margin: 10px 0;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}